<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAlwMMlkSBtRkqk9iE29HP0M8s3xlVTDPI</string>
	<key>GCM_SENDER_ID</key>
	<string>190163580273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.it361</string>
	<key>PROJECT_ID</key>
	<string>projetsip23-d1a63</string>
	<key>STORAGE_BUCKET</key>
	<string>projetsip23-d1a63.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190163580273:ios:04ac6d81511b02dff0f2d0</string>
</dict>
</plist>